<h3>Enrolled Phone Numbers</h3>
<table class="striped">
    <tbody>
    {{#each numbers}}
        <tr>
            <td>
             {{_id}}:{{serialNumber}}:{{phoneNumber}}:{{date}}
             </td><td>
                <form action="/sms/{{_id}}" method="POST" id="delete-form">
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit" class="btn red">
                        <i class="fas fa-trash"></i>
                    </button>
                </form>
            </td>
        </tr>
    {{else}}
        <p>No numbers to display</p>
    {{/each}}
    </tbody>
</table>